
<!-- // J'attends le chargement de la page

// Je capte l'événement click


  
  // Récupérer les coordonnées de mon click pour pouvoir générer mon rond à cet endroit
  // abscisse

  // ordonnée

  // calcul de la taille de la page


  // Je calcule une width and height aléatoire (Math.random)

  // Pour positionner mon cercle au centre du clique j'ai besoin de diminuer les coordonnees x et y par la moitié de sa taille
  

  // Je récupère une couleur aléatoirement dans ce tableau
  var color = ["#1abc9c", "#2ecc71", "#3498db", "#9b59b6", "#34495e", "#16a085", "#27ae60",
    "#2980b9", "#8e44ad", "#2c3e50", "#f1c40f", "#e67e22", "#e74c3c", "#ecf0f1", "#95a5a6",
    "#f39c12", "#d35400", "#c0392b", "#bdc3c7", "#7f8c8d"];

  // Calcul d'une valeur aléatoire entre 0 et 19 (0 le premier index, 19 le dernier index)

  // console.log("color_random : " + color_random);
  // console.log("color : " + color[color_random]);

  // Création du rond (string => div)



  // Ajout du rond dans le DOM


    // caculer la différence entre la position en ordonnée de où est situé mon rond
    // et la position en ordonnnée du bas de la page 
    // => taille de la page - taille du rond

    // et en fonction de la où il est positionné je le pousse vers le bas
    // je fais disparaitre le rond après l'avoir fait descendu vers le bas (fadeOut) -->

    <div class="rond" click="" @fade></div>